In [21]:
import pandas as pd
import numpy as np 

# create some fake data with age ranges betwen 1 to 120; make 50 observations 
age = np.linspace(1,120,50)

# just creating an id field; not really needed. 
col_id = np.arange(0,len(age),1)

# creat the bins to be used in pd.cut()
age_bins = np.linspace(0,130,10)

# bring it all together now 
df = pd.DataFrame({'col_id':col_id,'age':age})
df['age_bins'] = pd.cut(df['age'], bins=age_bins)
df.head()

   col_id        age       age_bins
0       0   1.000000  (0.0, 14.444]
1       1   3.428571  (0.0, 14.444]
2       2   5.857143  (0.0, 14.444]
3       3   8.285714  (0.0, 14.444]
4       4  10.714286  (0.0, 14.444]

In [24]:
new_df = pd.get_dummies(df,columns=['age_bins'])
new_df.drop(columns = ['age'], inplace = True)
new_df.head(25)

,col_id,"age_bins_(0.0, 14.444]","age_bins_(14.444, 28.889]","age_bins_(28.889, 43.333]","age_bins_(43.333, 57.778]","age_bins_(57.778, 72.222]","age_bins_(72.222, 86.667]","age_bins_(86.667, 101.111]","age_bins_(101.111, 115.556]","age_bins_(115.556, 130.0]"
0,0,1,0,0,0,0,0,0,0,0
1,1,1,0,0,0,0,0,0,0,0
2,2,1,0,0,0,0,0,0,0,0
3,3,1,0,0,0,0,0,0,0,0
4,4,1,0,0,0,0,0,0,0,0
5,5,1,0,0,0,0,0,0,0,0
6,6,0,1,0,0,0,0,0,0,0
7,7,0,1,0,0,0,0,0,0,0
8,8,0,1,0,0,0,0,0,0,0
9,9,0,1,0,0,0,0,0,0,0
10,10,0,1,0,0,0,0,0,0,0
11,11,0,1,0,0,0,0,0,0,0
12,12,0,0,1,0,0,0,0,0,0
13,13,0,0,1,0,0,0,0,0,0
14,14,0,0,1,0,0,0,0,0,0
15,15,0,0,1,0,0,0,0,0,0
16,16,0,0,1,0,0,0,0,0,0
17,17,0,0,1,0,0,0,0,0,0
18,18,0,0,0,1,0,0,0,0,0
19,19,0,0,0,1,0,0,0,0,0
20,20,0,0,0,1,0,0,0,0,0
21,21,0,0,0,1,0,0,0,0,0
22,22,0,0,0,1,0,0,0,0,0
23,23,0,0,0,1,0,0,0,0,0
24,24,0,0,0,0,1,0,0,0,0